body {
  background-color: #ffffff;

  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5rem;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

h2 {
  margin-bottom: 0;
}

h4 {
  margin: 0.25rem 0;
}

p {
  margin-top: 0;
  max-width: 750px;
}

ol {
  margin: 0.5rem 0 0;
}

div.desc {
  padding: 15px;
  text-align: center;
  background-color: aliceblue;
  color: black;
}

div.main {
  margin: 0 auto;
  width: 70%;
}

link {
  color: blue;
}

:any-link {
  color: blue;
}

.heading {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  padding: 3.5rem 0;
  color: #1a1a1a;
}

.category {
  display: grid;
  place-content: center;
  padding: 20px;
  margin: 10px;
}

.category-title {
  font-weight: bold;
  font-size: 18px;
}

.category-description {
  font-size: 16px;
}

.category-books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book {
  width: 17rem;
  margin: 1%;
  padding: 10px;
  text-align: center;
  background-color: #fafafa;
}

.book:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.bookimg {
  max-width: 100%;
  height: auto;
}

.book-title {
  font-weight: bold;
}

.book-description {
  font-size: 14px;
}

.wtrimg {
  max-width: 15px;
  margin-left: auto;
}

button {
  background-color: rgb(102, 156, 107);
  border-radius: 0.3em;
  padding: 1em 1.5em 1em 1em;
  display: flex;
  width: 70%;
  margin: 0 auto;
  border: none;
}

span {
  margin-left: 0.3em;
}

.wtr {
  color: #fff;
  font-weight: bold;
}

button:hover {
  background: rgb(102, 154, 105);
}

.dropdownCon {
  width: 70%;
  margin: 0 auto;
}

.dropdown {
  display: block;
  background: white;
  border-radius: 0.3em;
  position: absolute;
  padding: 0.5em;
  width: 70%;
  box-sizing: border-box;
  transform: translateY(-1em);
  opacity: 0;
  transition: all 0.25s ease-out;
  visibility: hidden;
  margin: 0 auto;
  overflow: hidden;
  font-size: 12px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.buttonList a {
  display: flex;

  padding: 0.8em;
  text-decoration: none;
  color: black;
}

.buttonList a:hover {
  background: #e9e9e9;
}

.container {
  position: relative;
}

.container:hover .dropdown {
  display: block;
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
  transition: all 0.25s ease-in;
}

.btn-wrapper:hover {
  cursor: pointer;
}

/* star rating system. Credit: Bilal Rizwaan https://www.buymeacoffee.com/gitlabbilal*/

.star {
  margin: 1rem 0 3rem;
}

.star-wrapper {
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.star-wrapper:hover {
  cursor: pointer;
}

.star-wrapper a {
  font-size: 1em;
  color: grey;
  text-decoration: none;
  transition: all 0.5s;
  margin: 0;
}
.star-wrapper a:hover {
  color: gold;
  transform: scale(1.3);
}
.s1:hover ~ a {
  color: gold;
}
.s2:hover ~ a {
  color: gold;
}
.s3:hover ~ a {
  color: gold;
}
.s4:hover ~ a {
  color: gold;
}
.s5:hover ~ a {
  color: gold;
}
.wraper {
  position: absolute;
  bottom: 30px;
  right: 50px;
}
