body {
  background-color: #fafafa;
  
 font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

h2 {
    margin-bottom: 0;

}

p {
    margin-top:0;

    max-width: 750px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    background-color: aliceblue;
    color: black;
  }

  div.main{
    margin: 0 auto;
    width: 50%;
  }

  div.ImgGallery{
    margin: 0 auto;
    width: 70%;
    
  }

  link {
    color: blue;
    
  }

  :any-link{
    color: blue;
  }
  
  .heading {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    padding: 3.5rem 0;
    color: #1a1a1a;
  }
  
  .heading span {
    display: block;
  }
  
  .alphaGallery {
    display: flex;
    flex-wrap: wrap;
    /* Compensate for excess margin on outer gallery flex items */
    margin: -1rem -1rem;
  }
  
  .alphaGalleryItem {
    /* Minimum width of 24rem and grow to fit available space */
    flex: 1 0 24rem;
    /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
    margin: .5rem;
    overflow:visible;
    
  }
  
  .alphaGalleryImage {
    display: block;
    width: 100%;
    height: 70%;
    object-fit: cover;
      transition: transform 400ms ease-out;
      
  }
  
  .alphaGalleryImage:hover + .recipeCaption {
    color: green;
    
  }
  
  .alphaGalleryImage:hover {
    cursor:grab;
  }
  
  .recipeCaption:hover {
    color: green;
    cursor: grab;
  }
  
  .recipeCaption {
      
  }
  
  .recipeTitle {
  margin: .5rem 0 0 0;
  text-align: start;
  }
  
  .recipeDescription{
      margin-top: .5rem;
      color: black;
  }
  
  /*
  
  The following rule will only run if your browser supports CSS grid.
  
  Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 
  
  */
  
  @supports (display: grid) {
    .alphaGallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
      grid-gap: 2rem;
      margin: auto 1rem auto 1rem;
    }
  
    .alphGallery,
    .alphaGalleryItem {
   
    }
  
      
  }